.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

h2 {
  text-align: center;
}
ul li {
  list-style-type: none;
  text-align: center;
  margin: 15px auto;
  font-size: 24px;
}

.no-history {
  text-align: center;
  font-size: 24px;
}

li:nth-child(even) {
  background-color: aquamarine;
}

li:nth-child(odd) {
  background-color: aqua;
}
