


  <span [ngClass]="hasWon ? 'opac' : '' " (click)="selected($event, {board: bNum.num, square: 0})"></span>
  <span [ngClass]="hasWon ? 'opac' : '' " (click)="selected($event, {board: bNum.num, square: 1})"></span>
  <span [ngClass]="hasWon ? 'opac' : '' " (click)="selected($event, {board: bNum.num, square: 2})"></span>

  <span [ngClass]="hasWon ? 'opac' : '' " (click)="selected($event, {board: bNum.num, square: 3})"></span>
  <span [ngClass]="hasWon ? 'opac' : '' " (click)="selected($event, {board: bNum.num, square: 4})"></span>
  <span [ngClass]="hasWon ? 'opac' : '' " (click)="selected($event, {board: bNum.num, square: 5})"></span>

  <span [ngClass]="hasWon ? 'opac' : '' " (click)="selected($event, {board: bNum.num, square: 6})"></span>
  <span [ngClass]="hasWon ? 'opac' : '' " (click)="selected($event, {board: bNum.num, square: 7})"></span>
  <span [ngClass]="hasWon ? 'opac' : '' " (click)="selected($event, {board: bNum.num, square: 8})"></span>


<div class="conquered">
  {{ conquered }}
</div>
