span {
  margin: auto;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 60px;
  border: 2px solid #ffa94d;
}

.conquered {
  white-space: pre;
}
.active {
  background: aqua;
}

@media screen and (max-width: 580px) {
  span {
    line-height: 30px;
  }
}
